body {
	background-color: #9b9c79;
	color: #e5e6c8;
	font-family: 'Slackside One', cursive;
	font-size: 12pt;
	text-align: center;
			
			}




h1 	{
	position: relative;
	top: 150px;
	background-color: #9b9c79; color: #000000;
	font-weight: 1000;
	font-family: 'Slackside One', cursive;
	text-align: center;
	font: #e5e6c8;
	font-size: 30px;
			}

h2 {
	position: absolute;
	top: 220px;
	background-color: #e5e6c8; color: #9b9c79;
	font-weight: 1000;
	font-family: 'Slackside One', cursive;
	text-align: center;
	font: #e5e6c8;
	font-size: 30px;
	width: 700px;
	left: 1px;

			}


h3 {
	position: absolute;
	top: 215px;
	background-color: #e5e6c8; color: #9b9c79;
	font-weight: 1000;
	font-family: 'Slackside One', cursive;
	text-align: center;
	font: #e5e6c8;
	font-size: 30px;
	width: 700px;
	right: 1px;
			}

h4 {
	position: absolute;
	top: 530px;
	background-color: #e5e6c8; color: #9b9c79;
	font-weight: 1000;
	font-family: 'Slackside One', cursive;
	text-align: center;
	font: #e5e6c8;
	width: 700px;
	left: 1px;
	font-size: 30px;
			}


h5 {
	position: absolute;
	top: 520px;
	background-color: #e5e6c8; color: #9b9c79;
	font-weight: 1000;
	font-family: 'Slackside One', cursive;
	text-align: center;
	font: #e5e6c8;
	width: 700px;
	right: 1px;
	font-size: 30px;
			}

			

nav{

	position: absolute;
	color: #535432;
	font-size: 30px;
	background-color: #535432;
	font-weight: 900;
	font-style: oblique;
	border: dashed 10px #e5e6c8;
	padding: 0px;
	margin: 0px;
	border-style: double;
	border-width: 15px;
	border-color:;
	border-bottom-color: #e5e6c8;
	border-left-color: #e5e6c8;
	border-top-color: #e5e6c8;
	border-right-color: #e5e6c8;
	border-radius: 200px;
	box-shadow: ;
	border-left-width:;
	border-right-width:;
	height: 100px;
	width: 1400px;
}

h6 {
	position: absolute;
	top: 200px;
	color: #e5e6c8;
	font-weight: 1000;
	font-family: 'Slackside One', cursive;
	text-align: center;
	font: #e5e6c8;
	width: 700px;
	left: 1px;
	font-size: 35px;
}

p{ 

position: absolute;
	bottom: 1px;
	color: #e5e6c8;
	font-weight: 1000;
	font-family: 'Slackside One', cursive;
	text-align: center;
	font: #e5e6c8;
	width: 700px;
	left: 1px;
	font-size: 35px;
}